version: '3.8'

services:
  postgres:
    image: postgres:latest
    container_name: postgres-container
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      TZ: "America/Sao_Paulo"
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - mynetwork
    ports:
      - "${DB_PORT}:5432"

volumes:
  postgres_data:

networks:
  mynetwork:
